{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">
	<div class="fullwidthbanner">
		<ul class="hide">

			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >

				<img src="{% static 'assets/images/1x1.png' %}" data-lazyload="{% static 'assets/images/demo/flickr_37.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />

				<div class="tp-caption mediumlarge_light_white lft tp-resizeme" 
					data-x="left" data-hoffset="70"
					data-y="85" 
					data-speed="1000" 
					data-start="1200" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300">Empresa Líder en Ecuador
				</div>

				<div class="tp-caption mediumlarge_light_white lfb tp-resizeme" 
					data-x="left" data-hoffset="70"
					data-y="133" 
					data-speed="1000" 
					data-start="1400" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300"> Soluciones Eléctricas
				</div>

				<div class="tp-caption block_black sfl tp-resizeme" 
					data-x="70" 
					data-y="216" 
					data-speed="750" 
					data-start="1900" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300"> Distribución, control y supervisión
				</div>

				<div class="tp-caption block_black sfr tp-resizeme" 
					data-x="70" 
					data-y="260" 
					data-speed="750" 
					data-start="2200" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300"> genaración, transmisión y repotenciación
				</div>

			</li>

			<!-- SLIDE -->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.stepofweb.com/" data-target="_blank" data-saveperformance="off" >

				<img src="{% static 'assets/images/1x1.png' %}" data-lazyload="assets/images/demo/flickr_9.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

				<div class="tp-caption block_black sfl tp-resizeme" 
					data-x="70" 
					data-y="172" 
					data-speed="750" 
					data-start="1000" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300">También podríamos poner Otro Slide
				</div>

				<div class="tp-caption block_black sfl tp-resizeme" 
					data-x="70" 
					data-y="216" 
					data-speed="750" 
					data-start="1400" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300"> Con más info
				</div>

				<div class="tp-caption block_black sfr tp-resizeme" 
					data-x="70" 
					data-y="260" 
					data-speed="750" 
					data-start="1800" 
					data-easing="easeOutExpo" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300"> y otra foto
				</div>

			</li>

			-->
		</ul>
		<div class="tp-bannertimer"></div>
	</div>
</div>
<!-- /REVOLUTION SLIDER -->


<!-- WELCOME -->
<section>
	<div class="container">
	
		<div class="row">
			<div class="col-md-6">
				<h2>
					Soluciones Eléctricas en 
					<span class="word-rotator"><!-- word rotator -->
						<span class="items bold styleColor">
							<span>Pichincha</span>
							<span>Guayas</span>
							<span>Azuay</span>
							<span>Imbabura</span>
							<span>Esmeraldas</span>
							<span>Napo</span>
						</span>
					</span><!-- /word rotator -->
				</h2>
				<p class="lead">Aquí podría ir una descripción corta de tu compañía.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet <em class="styleColor">CUANDO LA DE JAGER</em>. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis, eu hendrerit enim scel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis.</p>
			</div>
			
			<div class="col-md-6 text-center">
				<img class="img-responsive animate_fade_in" src="{% static 'assets/aico/aico_1.png' %}" alt="" />
			</div>
		</div>

	</div>
</section>
<!-- /WELCOME -->



<!-- DARK CALLOUT -->
<div class="callout dark arrow-down">
	<div class="container text-center">
		<h2>Visita nuestra Planta Industrial</h2>
		<p>Equipada tecnología de punta & Ubicada en el centro industrial de la ciudad de Quito</p>

	</div>
</div>
<!-- /DARK CALLOUT -->

<!-- VIDEO , PARALLAX -->
<section class="nopadding">

		<div class="parallax parallax-1 text-center" style="background-image:url(assets/images/demo/blur.jpg);">
			<div class="container">

				<div class="row text-center countTo nomargin">
					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong data-to="13">13</strong>
							<label>Años de Experiencia</label>
						</span>
					</div>

					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong data-to="14">14</strong>
							<label>Soluciones Eléctricas</label>
						</span>
					</div>

					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong data-to="109">109</strong>
							<label>Clientes Satisfechos</label>
						</span>
					</div>

					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong data-to="14000">14000</strong>
							<label>Watts Generados</label>
						</span>
					</div>
				</div>

			</div>
		</div>
</section>
{% endblock content %}